<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th = "https://www.thymeleaf.org/">-->

<!--<head th:replace="~{fragments::header}">-->
<!--</head>-->

<!--<body class="bg-gradient-primary">-->

<!--    <div class="container">-->

<!--        &lt;!&ndash; Outer Row &ndash;&gt;-->
<!--        <div class="row justify-content-center">-->

<!--            <div class="col-xl-10 col-lg-12 col-md-9">-->

<!--                <div class="card o-hidden border-0 shadow-lg my-5">-->
<!--                    <div class="card-body p-0">-->
<!--                        &lt;!&ndash; Nested Row within Card Body &ndash;&gt;-->
<!--                        <div class="row">-->
<!--                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>-->
<!--                            <div class="col-lg-6">-->
<!--                                <div class="p-5">-->
<!--                                    <div class="text-center">-->
<!--                                        <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>-->
<!--                                    </div>-->
<!--                                    <div th:if = "${param.error}" class="alert alert-danger text-center">-->
<!--                                        Invalid username or password-->
<!--                                    </div>-->
<!--                                    <div th:if = "${param.logout}" class="alert alert-success text-center">-->
<!--                                        You have been logged out!-->
<!--                                    </div>-->
<!--                                    <form class="user" th:action="@{/do-login}" method="post">-->
<!--                                        <div class="form-group">-->
<!--                                            <input type="email" name="username" class="form-control form-control-user"-->
<!--                                                id="username" aria-describedby="emailHelp"-->
<!--                                                placeholder="Enter Email Address...">-->
<!--                                        </div>-->
<!--                                        <div class="form-group">-->
<!--                                            <input type="password" name="password" id="password" class="form-control form-control-user"-->
<!--                                                 placeholder="Password">-->
<!--                                        </div>-->
<!--                                        <button type="submit" class="btn btn-primary btn-user btn-block">-->
<!--                                            Login-->
<!--                                        </button>-->
<!--                                        <hr>-->
<!--                                    </form>-->
<!--                                    <hr>-->
<!--                                    <div class="text-center">-->
<!--                                        <a class="small" th:href = "@{/forgot-password}" href="forgot-password.html">Forgot Password?</a>-->
<!--                                    </div>-->
<!--                                    <div class="text-center">-->
<!--                                        <a class="small" th:href = "@{/register}" href="register.html">Create an Account!</a>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--            </div>-->

<!--        </div>-->

<!--    </div>-->

<!--<div th:replace="~{fragments::script}"></div>-->
<!--</body>-->

<!--</html>-->


<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments::header}">
</head>
<body id="body-login">
<section class="container-login">
    <div class="login-container">
        <div class="circle circle-one"></div>
        <div class="form-container">
            <img src="https://raw.githubusercontent.com/hicodersofficial/glassmorphism-login-form/master/assets/illustration.png"
                 alt="illustration" class="illustration"/>
            <h1 class="opacity">LOGIN</h1>
            <div th:if="${param.error}" class="alert alert-danger text-center">
                Invalid username or password
            </div>
            <div th:if="${param.logout}" class="alert alert-success text-center">
                You have been logged out!
            </div>
            <form th:action="@{/do-login}" method="post">
                <input type="email" name="username" id="username" placeholder="USERNAME"/>
                <input type="password" name="password" id="password" placeholder="PASSWORD"/>
                <button class="opacity">SUBMIT</button>
            </form>
            <hr>
            <div class="register-forget opacity">
                <a th:href="@{/register}" href="register.html">REGISTER</a>
                <a th:href="@{/forgot-password}" href="forgot-password.html">FORGOT PASSWORD</a>
            </div>
        </div>
        <div class="circle circle-two"></div>
    </div>
    <div class="theme-btn-container"></div>
</section>
</body>
</html>